.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.startButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.startButton:hover {
    background-color: darkblue;
}
