/* Menu.module.scss */

.menuContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../../public/images/menu-background.gif') no-repeat center center;
    background-size: cover;
    z-index: 999;
  }
  
  .title {
    font-family: 'ZTBrosOskon90s-Regular', sans-serif;
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
}

.startText {
    font-family: 'ZTBrosOskon90s-Regular', sans-serif;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    position: relative;

    &:hover {
        color: #ff0000;
        text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
    }
}